---
ci:
  skip: []

fail_fast: false

repos:
  - repo: https://github.com/editorconfig-checker/editorconfig-checker.python
    rev: '3.6.0'
    hooks:
      - id: editorconfig-checker
  - repo: https://github.com/Kr4is/cmake-format-precommit
    rev: 'v0.6.14'
    hooks:
      - id: cmake-format
        args: ['--config=.cmake-format.yml']
      - id: cmake-lint
        args: ['--config=.cmake-linter.yml']
  - repo: https://github.com/codespell-project/codespell
    rev: 'v2.4.1'
    hooks:
      - id: codespell
  - repo: https://github.com/sirosen/check-jsonschema
    rev: '0.36.1'
    hooks:
      - id: check-github-workflows
  -   repo: https://github.com/pre-commit/mirrors-clang-format
      rev: 'v21.1.8'
      hooks:
        - id: clang-format
...
